#menu ul li{
    display: inline-block;
    text-decoration: none;
    
}
#menu{
    background-color: #5499C7;
    width: 100%;
    height: max-content;
    position: absolute;
    
}
button{
    background-color: #5499C7;
    color:white;
    border-color: #5499C7;
    width: fit-content;
    height: 15%;
    font-weight: 700;
    border: 0;
    
}
button:hover{
    background-color: #1F618D ;
    color:black;
    box-shadow: #154360 ;
}
#project{
    margin-top: 5%;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#project ul li{
    text-decoration: none;
    display:block;
    margin-top: 2.5%;
}
#project input{
    margin-left: 1.5%;

}
#description{
    height: 30%;
    width: 60%;
    position: absolute;
}
#submit{
    margin-top: 20%;
    position: absolute;
    background-color: #5499C7;
    color:white;
    border-color: #5499C7;
    width: fit-content;
    height: 15%;
    font-weight: 700;
    border: 0;
}
#submit:hover{
    background-color: #1F618D ;
    color:black;
    box-shadow: #154360 ;

}
#miproyecto{
    margin-left: 50%;
    margin-top: 10%;
    position: absolute;

}
